<% if logged_in? %>
  <ul>
    <% @tasks.each do |task| %>
    <% @task = task %>
      <li>
        <div>
          <p>id: <%= link_to task.id, task_path(@task) %> task: <%= task.content %> status: <%= task.status %></p>
        </div>
      </li>
    <% end %>
    
    <%= paginate @tasks %>
  </ul>
  <%= link_to 'Add New Task', new_task_path %>
  <%= link_to 'Log out', logout_path, method: :delete %>

<% else %>
  <div class="center">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Log in', login_path %> or <%= link_to 'Sign Up Now!', signup_path %>
    </div>
  </div>
<% end %>